body {
  margin: 0;
  overflow: hidden;
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Gotham XLight, sans-serif !important;
}

.label {
  font-family: "Gotham", sans-serif !important;
  font-size: 16px;
}

/* Big font 1 (Chipper) */
.label-line1 { 
  font-weight: 600; /* Gotham Black */
  font-size: 18px;
  font-family: "Gotham", sans-serif !important; /* Make the "Welcome!" text bold */
  letter-spacing: 7px; /* Adjust the value to change letter spacing */
}
/* Small font 1 (Chipper) */
.label-line2 {
  font-weight: 100; /* Gotham XLight */
  font-size: 12px;
  letter-spacing: 3px;
}
/* Big font 2 (Bliss) */
.label-line3 { 
  font-weight: 600; /* Gotham Black */
  font-size: 18px;
  font-family: "Gotham", sans-serif !important; /* Make the "Welcome!" text bold */
  letter-spacing: 9.5px; /* Adjust the value to change letter spacing */
}
/* Small font 2 (Bliss, Deceiver and Broken Love) */
.label-line4 {
  font-weight: 100; /* Gotham XLight */
  font-size: 11.5px;
  letter-spacing: 2px;
}
/* Big font 2 (Deceiver) */
.label-line5 { 
  font-weight: 600; /* Gotham Black */
  font-size: 18px;
  font-family: "Gotham", sans-serif !important; /* Make the "Welcome!" text bold */
  letter-spacing: 6px; /* Adjust the value to change letter spacing */
}
/* Big font 2 (Broken Love) */
.label-line6 { 
  font-weight: 600; /* Gotham Black */
  font-size: 18px;
  font-family: "Gotham", sans-serif !important; /* Make the "Welcome!" text bold */
  letter-spacing: 4px; /* Adjust the value to change letter spacing */
}



.fade-in {
  opacity: 0;
  transition: opacity 0.1s ease; /* Smooth transition for opacity */
}


.top-bar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Distribute content to left and right edges */
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  backdrop-filter: blur(7px);
}

.top-left-menu a,
.top-right-menu a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: white;
  position: relative; /* Add relative positioning */
  font-size: 18px; /* Adjust font size as needed */
  text-shadow: 2px 2px 4px rgba(0, 128, 0, 5); /* Add text shadow */
  font-family: "Gotham Black", sans-serif !important; /* Make the "Welcome!" text bold */
  letter-spacing: 8px; /* Adjust the value to change letter spacing */
  transition: color 0.8s ease; /* Longer transition for color change */
}

/* Add linear gradient background for the line and letter hover effects */
.top-left-menu a::before,
.top-right-menu a::before,
.top-left-menu a::after,
.top-right-menu a::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust the value to fine-tune the position */
  left: -5%; /* Adjust the starting position of the line */
  width: 0;
  height: 2px; /* Height of the underline */
  background: linear-gradient(to right, transparent, lightgreen); /* Gradient from transparent to lightgreen */
  transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for both width and left properties */
}

/* On hover, expand the gradient background and adjust the starting position for the line */
.top-left-menu a:hover::before,
.top-right-menu a:hover::before {
  left: -5%; /* Reset the starting position */
  width: 100%; /* Adjust the width to your desired length (e.g., 100%) */
}

/* Add gradient text color on hover */
.top-left-menu a:hover,
.top-right-menu a:hover {
  background: linear-gradient(to right, transparent, lightgreen); /* Gradient from transparent to lightgreen */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.3s ease; /* Keep the hover transition short */
}

/* Adjust spacing and positioning of the navigation links */
.top-left-menu,
.top-right-menu {
  display: flex;
  gap: 50px; /* Adjust the gap between menu items */
  align-items: center; /* Align vertically in the middle */
}

.top-left-menu {
  margin-left: calc(50% - 525px); /* Adjust the left margin as needed */
}

.top-right-menu {
  margin-right: calc(50% - 525px); /* Add margin to the right menu */
}

.top-center-logo {
  display: flex;
  align-items: center;
  margin: 0 auto; /* Center the logo horizontally */
  z-index: 1;
}

.top-center-logo img {
  margin: 0 auto; /* Center the logo horizontally */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
  z-index: 1;
}

.top-center-logo img:hover {
  transform: scale(1.05); /* Scale the logo by 110% */
}

.top-bar img {
  width: auto; /* Adjust the width to make the logo smaller */
  height: 50px;
  margin: 0 10px; /* Add margin around the logo */
}

.content {
  margin-top: 200px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 128, 0, 5); /* Add text shadow */
  letter-spacing: 14px; /* Adjust the value to change letter spacing */
  font-family: "Gotham XLight", sans-serif !important; /* Change the font for the content section */
  margin-left: 22px; /* Adjust the left margin to re-center the content */
}

.content h2 {
  font-family: "Gotham", sans-serif !important; /* Make the "Welcome!" text bold */
  letter-spacing: 8px; /* Adjust the value to change letter spacing */
}

.content h3 {
  margin-top: 90px;
  font-family: "Gotham", sans-serif !important;
  letter-spacing: 8px;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(0, 189, 88, 0.4);
  color: white;
  border-radius: 15px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}

.content h3.open {
  background-color: rgba(0, 189, 88, 0.4); /* Change color to 50% opacity black when open */
  color: white; /* Change text color to white when open */
}

.content h3.open:hover {
  background-color: rgba(0, 189, 88, 0.4); /* Maintain the 50% opacity black background when hovering */
}

.content h3:hover {
  background-color: #24104f;
  background: linear-gradient(to right, transparent, lightgreen); /* Gradient from transparent to lightgreen */
  transition: 0.3s;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sections a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.sections a:hover {
  opacity: 1;
}

/* Style for the text selection highlight */
::selection {
  background: linear-gradient(to right, transparent, #04b81f);
  color: transparent;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 2;
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
  z-index: 0;
}

.social-icons {
  display: flex;
  justify-content: flex-end; /* Align icons to the right side */
  align-items: center; /* Center vertically within the top bar */
  margin-right: 20px; /* Add right margin */
  margin-left: auto;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px; /* Add margin between icons */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.20); /* Scale the icons by 120% */
  filter: drop-shadow(2px 2px 10px green);
}

.social-icons img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

/* About page styling */
.about-paragraph {
  letter-spacing: 4px;
  font-size: 16px;
}
.about-page .content {
  text-align: left; /* Align text to the left */
  margin-left: calc(30%);
  position: relative; /* Position relative for the pseudo-element */
}
.about-page .section-bar {
  position: absolute;
  bottom: 0; /* Position at the bottom of the content section */
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 0.5 opacity */
  height: 100%; /* Adjust the height of the bar */
  width: 100%;
  z-index: -1; /* Place the bar behind the text */
}
.social-links {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  margin-top: 10px; /* Add spacing between the paragraphs and the links */
}

.social-text-link {
  margin-bottom: 10px; /* Add spacing between the links */
  transition: color 0.3s ease;
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
  filter: drop-shadow(2px 2px 5px green);
}

.social-text-link:hover {
  color: #04b81f;
  text-decoration: underline;
}




#wheel-container {
    position: absolute;
    top: 54%;
    left: 50.4%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.8s ease; /* Add a smooth transition for opacity */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(7px);
	background: linear-gradient(to right, black, #04b81f, 0.5);
	background-image: url("turntable.png");
	width: 385px;
	height: 300px;
}

#angle-display {
  position: absolute;
  top: 39.5%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 128, 0, 0.5);
  font-family: "Gotham XLight", sans-serif !important;
  z-index: 1;
  letter-spacing: 8px;
}


/* Style for the hamburgir */
.hamburger {
	position: relative;
	display: block;
	width: 40px;
	cursor: pointer;
	z-index: 1000;
	appearance: none;
	background: none;
	outline: none;
	border: none;
	display: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.5s;
	filter: drop-shadow(2px 2px 10px green);
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 4px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -7px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	right: 100%;
	width: 38%;
	min-height: 100vh;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 2.5);
	padding-top: 100px;
	transition: 0.5s;
	font-size: 12px; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 128, 0, 5); /* Add text shadow */
    font-family: "Gotham Black", sans-serif !important;
    letter-spacing: 7px; /* Adjust the value to change letter spacing */
	border:2px solid rgba(0, 0, 0, 0.80);
	backdrop-filter: blur(7px);
	display: none;
}

.mobile-nav.is-active {
	right: 62%;
}

.mobile-nav a {
	display: block;
	width: 50%;
	max-width: 200px;
	margin: 20px auto 16px;
	text-align: left;
	padding: 12px 16px;
	background-color: transparent;
	color: #FFF;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: #24104f;
	background: linear-gradient(to right, transparent, lightgreen); /* Gradient from transparent to lightgreen */
	transition: 0.3s;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100; /* Place the video behind other content */
}


/* Responsive adjustments */
@media (max-width: 1281px) {
  .top-left-menu,
  .top-right-menu {
    display: none; /* Hide desktop navigation links */
  }
  .top-center-logo {
    margin: 0 auto; /* Center the logo horizontally */
    margin-right: calc(18%);
	transform: scale(0.90);
  }
  
  .social-icons {
    margin-left: auto; /* Push icons to the right end */
    margin-right: 20px; /* Add right margin */
  }

  .social-icons a {
    width: 25px;
    height: 25px;
    margin-right: 6px; /* Add margin between icons */
  }
  
  .hamburger {
    display: block;
  }
  
  .mobile-nav {
    display: block;
  }
  
  .footer {
	font-size: 12px;
  }
  
  .content h2 {
  font-size: 16px;
  letter-spacing: 7px; /* Adjust the value to change letter spacing */
  }
  
  .content h3 {
  margin-top: 20px;
  letter-spacing: 7px;
  font-size: 14px;
  padding: 10px 20px;
  }
  
  .content {
  margin-top: 150px;
  letter-spacing: 14px; /* Adjust the value to change letter spacing */
  font-size: 13px;
  }
  
  #wheel-container {
    left: 51.2%;
  }
  
  #angle-display {
	top: 34%;
    left: 51.5%;
	font-size: 10px;
	letter-spacing: 3px;
  }
	
  .about-page .content {
    margin-left: calc(50% - 215px);
  }
  .about-paragraph {
    letter-spacing: 4px;
    font-size: 14px;
  }
  
  /* Big font 1 (Chipper) */
  .label-line1 { 
    font-weight: 600; /* Gotham Black */
    font-size: 12px;
    letter-spacing: 4px; /* Adjust the value to change letter spacing */
  }
  /* Small font 1 (Chipper) */
  .label-line2 {
    font-weight: 100; /* Gotham XLight */
    font-size: 7px;
    letter-spacing: 2px;
  }
  /* Big font 2 (Bliss) */
  .label-line3 { 
    font-weight: 600; /* Gotham Black */
    font-size: 12px;
    letter-spacing: 5px; /* Adjust the value to change letter spacing */
  }
  /* Small font 2 (Bliss, Deceiver and Broken Love) */
  .label-line4 {
    font-weight: 100; /* Gotham XLight */
    font-size: 6.5px;
    letter-spacing: 1.33px;
  }
  /* Big font 2 (Deceiver) */
  .label-line5 { 
    font-weight: 600; /* Gotham Black */
    font-size: 11px;
    letter-spacing: 4px; /* Adjust the value to change letter spacing */
  }
  /* Big font 2 (Broken Love) */
  .label-line6 { 
    font-weight: 600; /* Gotham Black */
    font-size: 10.1px;
    letter-spacing: 3px; /* Adjust the value to change letter spacing */
  }

}
